# Node dependencies
node_modules/
dist/
tmp/
build/

# Nx and Vite cache
.nx/
.vite/
.vitest/
coverage/
.cache/
*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment files
apps/client/.env.development
apps/server/.env
apps/server/.env.development

# IDEs & editors
.vscode/
.idea/
.DS_Store

# OS
Thumbs.db

# Optional: test output
*.tsbuildinfo